.t-yellow {
  color: #F7CE41; }

.t-gray {
  color: #C2BFC0; }

.t-black {
  color: #0A1713; }

.b-black {
  background-color: #0A1713; }

.b-yellow {
  background-color: #F7CE41; }

.t-yellow {
  color: #F7CE41; }

.t-gray {
  color: #C2BFC0; }

.t-black {
  color: #0A1713; }

.b-black {
  background-color: #0A1713; }

.b-yellow {
  background-color: #F7CE41; }

@font-face {
  font-family: "Galano Grotesque Medium";
  src: url("fonts/Rene Bieder - Galano Grotesque Medium.otf") format("truetype");
  src: font-url("fonts/Rene Bieder - Galano Grotesque Medium.otf?#iefix") format("embedded-opentype"), font-url("fonts/Rene Bieder - Galano Grotesque Medium.otf") format("woff"), font-url("fonts/Rene Bieder - Galano Grotesque Medium.otf") format("truetype"); }

@font-face {
  font-family: "Galano Grotesque SemiBold";
  src: url("fonts/Rene Bieder - Galano Grotesque SemiBold.otf") format("truetype");
  src: font-url("fonts/Rene Bieder - Galano Grotesque SemiBold.otf?#iefix") format("embedded-opentype"), font-url("fonts/Rene Bieder - Galano Grotesque SemiBold.woff") format("woff"), font-url("fonts/Rene Bieder - Galano Grotesque SemiBold.ttf") format("truetype"); }

h1, h2, h3, h4 {
  font-family: "Galano Grotesque Medium";
  color: #0A1713;
  -webkit-font-smoothing: antialiased; }

p, small, a {
  font-family: "Galano Grotesque Medium";
  color: #0A1713;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.4em;
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial;
  letter-spacing: 0.5em;
  text-transform: uppercase; }

h4, p, a {
  font-size: 14px; }

h4 {
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial;
  letter-spacing: 0.5em;
  text-transform: uppercase; }

small, .small {
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 10px; }

hr {
  border: solid #F7CE41;
  border-width: 10px 0 0;
  clear: both;
  margin: 0;
  height: 0; }

.no-margin {
  margin: 0; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.row {
  display: flex; }

.block {
  display: block; }

.columns {
  display: inherit;
  float: initial !important; }

.space-left {
  margin-left: 150px; }

.space-right {
  margin-right: 150px; }

.space-horizontal {
  margin-left: 150px;
  margin-right: 150px; }

.space-top {
  margin-top: 150px; }

.space-bottom {
  margin-bottom: 150px; }

.space-vertical {
  margin-top: 150px;
  margin-bottom: 150px; }

.space-left-md {
  margin-left: 45px; }

.space-right-md {
  margin-right: 45px; }

.space-horizontal-md {
  margin-left: 45px;
  margin-right: 45px; }

.space-top-md {
  margin-top: 45px; }

.space-bottom-md {
  margin-bottom: 45px; }

.space-vertical-md {
  margin-top: 45px;
  margin-bottom: 45px; }

.space-left-sm {
  margin-left: 16px; }

.space-right-sm {
  margin-right: 16px; }

.space-horizontal-sm {
  margin-left: 16px;
  margin-right: 16px; }

.space-top-sm {
  margin-top: 16px; }

.space-bottom-sm {
  margin-bottom: 16px; }

.space-vertical-sm {
  margin-top: 16px;
  margin-bottom: 16px; }

.pad-left {
  padding-left: 150px; }

.pad-right {
  padding-right: 150px; }

.pad-horizontal {
  padding-left: 150px;
  padding-right: 150px; }

.pad-top {
  padding-top: 150px; }

.pad-bottom {
  padding-bottom: 150px; }

.pad-vertical {
  padding-top: 150px;
  padding-bottom: 150px; }

.pad-left-md {
  padding-left: 45px; }

.pad-right-md {
  padding-right: 45px; }

.pad-horizontal-md {
  padding-left: 45px;
  padding-right: 45px; }

.pad-top-md {
  padding-top: 45px; }

.pad-bottom-md {
  padding-bottom: 45px; }

.pad-vertical-md {
  padding-top: 45px;
  padding-bottom: 45px; }

.pad-left-sm {
  padding-left: 16px; }

.pad-right-sm {
  padding-right: 16px; }

.pad-horizontal-sm {
  padding-left: 16px;
  padding-right: 16px; }

.pad-top-sm {
  padding-top: 16px; }

.pad-bottom-sm {
  padding-bottom: 16px; }

.pad-vertical-sm {
  padding-top: 16px;
  padding-bottom: 16px; }

.block {
  display: block; }

.left {
  float: left;
  left: 0; }

.right {
  margin-left: auto;
  float: right;
  right: 0; }

.center {
  text-align: center;
  margin: 0 auto; }

.center-flex {
  text-align: center;
  align-items: center;
  justify-content: center; }

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }

.align-bottom {
  align-items: flex-end; }

.align-middle {
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.back {
  z-index: -1; }

.front {
  z-index: 1; }

img.image-hover, .image-container {
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

nav {
  background-color: white;
  height: 75px;
  z-index: 1;
  line-height: 75px; }

.substract-nav {
  margin-top: 75px; }

img {
  width: 100%; }

.bg-image {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom; }

.tag-label {
  display: inline-block;
  margin-top: -45px;
  height: 90px;
  text-align: center; }
  .tag-label h4 {
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 90px; }

img.image-hover {
  width: 100%;
  opacity: 0.3; }

.image-container {
  cursor: pointer;
  width: 100%;
  position: relative; }
  .image-container:hover img.image-hover {
    opacity: 1; }
  .image-container:hover a.btn-arrow {
    opacity: 1;
    background-size: 24px; }

.tag-name-label {
  width: 100%;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px; }

.slide-up {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px); }

.slide-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.mobile-show {
  display: none; }

@media screen and (max-width: 40em) {
  .row {
    display: block; }
  nav .row {
    display: flex; }
  .mobile-show {
    display: block; }
  .mobile-hide {
    display: none; }
  .bg-image {
    background-attachment: initial !important;
    background-repeat: no-repeat; } }
