.row {
  display: flex; }

.block {
  display: block; }

.columns {
  display: inherit;
  float: initial !important; }

.space-left {
  margin-left: 150px; }

.space-right {
  margin-right: 150px; }

.space-horizontal {
  margin-left: 150px;
  margin-right: 150px; }

.space-top {
  margin-top: 150px; }

.space-bottom {
  margin-bottom: 150px; }

.space-vertical {
  margin-top: 150px;
  margin-bottom: 150px; }

.space-left-md {
  margin-left: 45px; }

.space-right-md {
  margin-right: 45px; }

.space-horizontal-md {
  margin-left: 45px;
  margin-right: 45px; }

.space-top-md {
  margin-top: 45px; }

.space-bottom-md {
  margin-bottom: 45px; }

.space-vertical-md {
  margin-top: 45px;
  margin-bottom: 45px; }

.space-left-sm {
  margin-left: 16px; }

.space-right-sm {
  margin-right: 16px; }

.space-horizontal-sm {
  margin-left: 16px;
  margin-right: 16px; }

.space-top-sm {
  margin-top: 16px; }

.space-bottom-sm {
  margin-bottom: 16px; }

.space-vertical-sm {
  margin-top: 16px;
  margin-bottom: 16px; }

.pad-left {
  padding-left: 150px; }

.pad-right {
  padding-right: 150px; }

.pad-horizontal {
  padding-left: 150px;
  padding-right: 150px; }

.pad-top {
  padding-top: 150px; }

.pad-bottom {
  padding-bottom: 150px; }

.pad-vertical {
  padding-top: 150px;
  padding-bottom: 150px; }

.pad-left-md {
  padding-left: 45px; }

.pad-right-md {
  padding-right: 45px; }

.pad-horizontal-md {
  padding-left: 45px;
  padding-right: 45px; }

.pad-top-md {
  padding-top: 45px; }

.pad-bottom-md {
  padding-bottom: 45px; }

.pad-vertical-md {
  padding-top: 45px;
  padding-bottom: 45px; }

.pad-left-sm {
  padding-left: 16px; }

.pad-right-sm {
  padding-right: 16px; }

.pad-horizontal-sm {
  padding-left: 16px;
  padding-right: 16px; }

.pad-top-sm {
  padding-top: 16px; }

.pad-bottom-sm {
  padding-bottom: 16px; }

.pad-vertical-sm {
  padding-top: 16px;
  padding-bottom: 16px; }

.block {
  display: block; }

.left {
  float: left;
  left: 0; }

.right {
  margin-left: auto;
  float: right;
  right: 0; }

.center {
  text-align: center;
  margin: 0 auto; }

.center-flex {
  text-align: center;
  align-items: center;
  justify-content: center; }

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }

.align-bottom {
  align-items: flex-end; }

.align-middle {
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.back {
  z-index: -1; }

.front {
  z-index: 1; }
