
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.floating2 {
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: floating2;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: floating2;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(100%, 0px); }
    50%  { transform: translate(100%, 8px); }
    to   { transform: translate(100%, -0px); }
}

@-webkit-keyframes floating {
    from { transform: translate(100%, 0px); }
    50%  { transform: translate(100%, 8px); }
    to   { transform: translate(100%, -0px); }
}

@-moz-keyframes floating {
    from { transform: translate(100%, 0px); }
    50%  { transform: translate(100%, 8px); }
    to   { transform: translate(100%, -0px); }
}

@keyframes floating2 {
    from { transform: translateY(0px); }
    50%  { transform: translateY(-8px); }
    to   { transform: translateY(-0px); }
}

@-webkit-keyframes floating2 {
  from { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  to   { transform: translateY(-0px); }
}

@-moz-keyframes floating2 {
  from { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  to   { transform: translateY(-0px); }
}

.bounce {
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
