//color _variables

$color_yellow: #F7CE41;
$color_gray: #C2BFC0;
$color_black: #0A1713;

//font color _classes

.t-yellow {
  color: $color_yellow;
}

.t-gray {
  color: $color_gray;
}

.t-black {
  color: $color_black;
}


//background color _classes

.b-black {
  background-color: $color_black;
}

.b-yellow {
  background-color: $color_yellow;
}
