@import
'colors.scss',
'typography.scss',
'layout.scss';

//element _variables

%transition {
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

//element _classes

nav {
  background-color: white;
  height: 75px;
  z-index: 1;
  line-height: 75px;
}

.substract-nav {
  margin-top: 75px;
}

.bg-image {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 200%;
}

.tag-label {
  display: inline-block;
  margin-top: -45px;
  height: 90px;
  text-align: center;

  h4 {
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 90px;
  }
}

img.image-hover {
  @extend %transition;
  width: 100%;
  opacity: 0.3;
}

.image-container {
  @extend %transition;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:hover {

    img.image-hover {
      opacity: 1;
    }

    a.btn-arrow {
      opacity: 1;
      background-size: 24px;
    }
  }
}

.tag-name-label {
  width: 100%;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
