@import
'colors.scss',
'typography.scss',
'layout.scss';

//element _variables

%transition {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

//element _classes

.box-shadow {
  -webkit-box-shadow: 0px 45px 90px 0px rgba(33,35,52,0.5);
  -moz-box-shadow: 0px 45px 90px 0px rgba(33,35,52,0.5);
  box-shadow: 0px 45px 90px 0px rgba(33,35,52,0.5);
}

.box-shadow-blue {
  -webkit-box-shadow: 0px 45px 90px 0px rgba(0,37,86,0.25);
  -moz-box-shadow: 0px 45px 90px 0px rgba(0,37,86, 0.25);
  box-shadow: 0px 45px 90px 0px rgba(0,37,86, 0.25);
}

.box-shadow-purple {
  -webkit-box-shadow: 0px 45px 90px 0px rgba(0,37,86,0.25);
  -moz-box-shadow: 0px 45px 90px 0px rgba(0,37,86, 0.25);
  box-shadow: 0px 45px 90px 0px rgba(0,37,86, 0.25);
}


.box-shadow-pink {
  -webkit-box-shadow: 0px 45px 90px 0px rgba(41,0,14,0.2);
  -moz-box-shadow: 0px 45px 90px 0px rgba(41,0,14,0.2);
  box-shadow: 0px 45px 90px 0px rgba(41,0,14,0.2);
}

.border {
  border: 8px solid white;
}

.tag {
  width: auto;
  height: $medium_margin;
  line-height: $medium_margin;
  width: 200px;
  background-color: $modernista_tan;

  small {
    text-align: center;
    display: inherit;
  }
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  line-height: 60px;
  display: none;
}

nav #logo {
  height: 40px;
}

.large-image {
  width: calc(45vw - 45px);
  height: 30vw;
  background-size: cover;
  background-size: 130%;
  border: 8px solid white;
}

.medium-image {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  border: 8px solid white;
}

.small-image {
  width: 15vw;
  height: 15vw;
  background-size: cover;
  border: 8px solid white;
}

.small-circle-image {
  width: 7.5vw;
  height: 7.5vw;
  background-size: cover;
  border: 8px solid white;
  border-radius: 50%;
}

.inside-content-width {
  width: calc(55vw - 45px);
}

.home-images {
  bottom: 0;
  right: 0;
}

.home-images-small {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/**Media queries**/
@media (max-width: 1024px) {

  modernista-sidebar {
    display: none;
  }

  .container, .container-inside {
    width: 100%;
  }

  .inside-content-width {
    width: 58vw;
  }
}

/**Media queries**/
@media all and (max-width: 1024px) {

  nav {
    display: block;
  }

  modernista-sidebar {
    display: none;
  }

  .container, .b-blue.container-inside, .b-pink.container-inside {
    margin-top: 60px;
    width: 100%;
  }

  .container-inside {
    width: 100%;
  }

  .inside-content-width {
    width: 58vw;
  }

  .large-image {
    width: 35vw;
    height: 35vw;
  }
}

@media all and (max-width: 900px) {

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  .row {
    display: block;
  }

  .inside-content-width, .large-image  {
    width: calc(100vw - 90px);
  }

  .large-image {
    height: calc(100vw - 90px);
    margin-top: 45px;
    margin-right: 45px;
  }

  #sampleimages, .small-image {
    display: none;
  }

  .small-circle-image {
    width: 10vw;
    height: 10vw;
  }

  .medium-image {
    width: 45vw;
    height: 45vw;
  }

  .home-images-small {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
 }
}

@media all and (max-width: 600px) {

  .medium-image {
    width: 60vw;
    height: 60vw;
  }

  .small-circle-image {
    width: 12.5vw;
    height: 12.5vw;
  }

}

@media all and (max-width: 450px) {

  .medium-image {
    width: 70vw;
    height: 70vw;
  }

  .small-circle-image {
    width: 20vw;
    height: 20vw;
  }
}
