.t-blue {
  color: #0470FE; }

.t-teal {
  color: #00B9B3; }

.t-white {
  color: #ffffff; }

.t-black {
  color: #000000; }

.t-pink {
  color: #F6306E; }

.t-tan {
  color: #F3EFCD; }

.b-blue {
  background-color: #0470FE; }

.b-teal {
  background-color: #00B9B3; }

.b-white {
  background-color: #ffffff; }

.b-black {
  background-color: #000000; }

.b-pink {
  background-color: #F6306E; }

.b-tan {
  background-color: #F3EFCD; }
