.t-mint {
  color: #00FFDA; }

.t-purple {
  color: #D903FF; }

.t-white {
  color: #ffffff; }

.t-black {
  color: #000000; }

.t-gray {
  color: #212334; }

.b-mint {
  background-color: #00FFDA; }

.b-purple {
  background-color: #D903FF; }

.b-white {
  background-color: #ffffff; }

.b-black {
  background-color: #000000; }

.b-gray {
  background-color: #212334; }

.b-gradient {
  background: -moz-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: -webkit-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: linear-gradient(135deg, #00CBD5 0%, #D903FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CBD5', endColorstr='$devsec_purple',GradientType=1 ); }

.t-mint {
  color: #00FFDA; }

.t-purple {
  color: #D903FF; }

.t-white {
  color: #ffffff; }

.t-black {
  color: #000000; }

.t-gray {
  color: #212334; }

.b-mint {
  background-color: #00FFDA; }

.b-purple {
  background-color: #D903FF; }

.b-white {
  background-color: #ffffff; }

.b-black {
  background-color: #000000; }

.b-gray {
  background-color: #212334; }

.b-gradient {
  background: -moz-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: -webkit-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: linear-gradient(135deg, #00CBD5 0%, #D903FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CBD5', endColorstr='$devsec_purple',GradientType=1 ); }

@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/Rene Bieder - Galano Grotesque.otf") format("truetype");
  src: font-url("/fonts/Rene Bieder - Galano Grotesque.otf?#iefix") format("embedded-opentype"), font-url("/fonts/Rene Bieder - Galano Grotesque.otf") format("woff"), font-url("/fonts/Rene Bieder - Galano Grotesque.otf") format("truetype"); }

@font-face {
  font-family: "Galano Grotesque SemiBold";
  src: url("/fonts/Rene Bieder - Galano Grotesque SemiBold.otf") format("truetype");
  src: font-url("/fonts/Rene Bieder - Galano Grotesque SemiBold.otf?#iefix") format("embedded-opentype"), font-url("/fonts/Rene Bieder - Galano Grotesque SemiBold.woff") format("woff"), font-url("/fonts/Rene Bieder - Galano Grotesque SemiBold.ttf") format("truetype"); }

h1, h2, h3, h4 {
  font-family: "Galano Grotesque";
  color: #000000;
  -webkit-font-smoothing: antialiased; }

p, small, a {
  font-family: "Galano Grotesque";
  color: #212334;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 3em;
  line-height: 1em; }

h2 {
  font-size: 1.8em;
  line-height: 1em; }

h3 {
  font-size: 1.2em; }

h4, p, a {
  font-size: 1em; }

small {
  font-size: 10px; }

strong {
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial; }

.t-upper {
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial;
  letter-spacing: 0.5em;
  text-transform: uppercase; }

.t-height {
  line-height: 1.6em; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-mint {
  color: #00FFDA; }

.t-purple {
  color: #D903FF; }

.t-white {
  color: #ffffff; }

.t-black {
  color: #000000; }

.t-gray {
  color: #212334; }

.b-mint {
  background-color: #00FFDA; }

.b-purple {
  background-color: #D903FF; }

.b-white {
  background-color: #ffffff; }

.b-black {
  background-color: #000000; }

.b-gray {
  background-color: #212334; }

.b-gradient {
  background: -moz-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: -webkit-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: linear-gradient(135deg, #00CBD5 0%, #D903FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CBD5', endColorstr='$devsec_purple',GradientType=1 ); }

.t-mint {
  color: #00FFDA; }

.t-purple {
  color: #D903FF; }

.t-white {
  color: #ffffff; }

.t-black {
  color: #000000; }

.t-gray {
  color: #212334; }

.b-mint {
  background-color: #00FFDA; }

.b-purple {
  background-color: #D903FF; }

.b-white {
  background-color: #ffffff; }

.b-black {
  background-color: #000000; }

.b-gray {
  background-color: #212334; }

.b-gradient {
  background: -moz-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: -webkit-linear-gradient(-45deg, #00CBD5 0%, #D903FF 100%);
  background: linear-gradient(135deg, #00CBD5 0%, #D903FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CBD5', endColorstr='$devsec_purple',GradientType=1 ); }

@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/Rene Bieder - Galano Grotesque.otf") format("truetype");
  src: font-url("/fonts/Rene Bieder - Galano Grotesque.otf?#iefix") format("embedded-opentype"), font-url("/fonts/Rene Bieder - Galano Grotesque.otf") format("woff"), font-url("/fonts/Rene Bieder - Galano Grotesque.otf") format("truetype"); }

@font-face {
  font-family: "Galano Grotesque SemiBold";
  src: url("/fonts/Rene Bieder - Galano Grotesque SemiBold.otf") format("truetype");
  src: font-url("/fonts/Rene Bieder - Galano Grotesque SemiBold.otf?#iefix") format("embedded-opentype"), font-url("/fonts/Rene Bieder - Galano Grotesque SemiBold.woff") format("woff"), font-url("/fonts/Rene Bieder - Galano Grotesque SemiBold.ttf") format("truetype"); }

h1, h2, h3, h4 {
  font-family: "Galano Grotesque";
  color: #000000;
  -webkit-font-smoothing: antialiased; }

p, small, a {
  font-family: "Galano Grotesque";
  color: #212334;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 3em;
  line-height: 1em; }

h2 {
  font-size: 1.8em;
  line-height: 1em; }

h3 {
  font-size: 1.2em; }

h4, p, a {
  font-size: 1em; }

small {
  font-size: 10px; }

strong {
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial; }

.t-upper {
  font-family: "Galano Grotesque SemiBold";
  font-weight: initial;
  letter-spacing: 0.5em;
  text-transform: uppercase; }

.t-height {
  line-height: 1.6em; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.browser-height {
  height: 100%; }

.container-height {
  height: 70%; }

.container-height-md {
  height: 50% !important; }

.fill-height {
  height: -webkit-fill-available; }

.fit-height {
  height: fit-content; }

.row {
  max-width: 100%;
  display: flex; }

.space-left {
  margin-left: 15%; }

.space-right {
  margin-right: 15%; }

.space-horizontal {
  margin-left: 15%;
  margin-right: 15%; }

.space-top {
  margin-top: 15%; }

.space-bottom {
  margin-bottom: 15%; }

.space-vertical {
  margin-top: 15%;
  margin-bottom: 15%; }

.space-left-md {
  margin-left: 45px; }

.space-right-md {
  margin-right: 45px; }

.space-horizontal-md {
  margin-left: 45px;
  margin-right: 45px; }

.space-top-md {
  margin-top: 45px; }

.space-bottom-md {
  margin-bottom: 45px; }

.space-vertical-md {
  margin-top: 45px;
  margin-bottom: 45px; }

.space-left-sm {
  margin-left: 16px; }

.space-right-sm {
  margin-right: 16px; }

.space-horizontal-sm {
  margin-left: 16px;
  margin-right: 16px; }

.space-top-sm {
  margin-top: 16px; }

.space-bottom-sm {
  margin-bottom: 16px; }

.space-vertical-sm {
  margin-top: 16px;
  margin-bottom: 16px; }

.pad-left {
  padding-left: 15%; }

.pad-right {
  padding-right: 15%; }

.pad-horizontal {
  padding-left: 15%;
  padding-right: 15%; }

.pad-top {
  padding-top: 15%; }

.pad-bottom {
  padding-bottom: 15%; }

.pad-vertical {
  padding-top: 15%;
  padding-bottom: 15%; }

.pad-left-md {
  padding-left: 45px; }

.pad-right-md {
  padding-right: 45px; }

.pad-horizontal-md {
  padding-left: 45px;
  padding-right: 45px; }

.pad-top-md {
  padding-top: 45px; }

.pad-bottom-md {
  padding-bottom: 45px; }

.pad-vertical-md {
  padding-top: 45px;
  padding-bottom: 45px; }

.pad-left-sm {
  padding-left: 16px; }

.pad-right-sm {
  padding-right: 16px; }

.pad-horizontal-sm {
  padding-left: 16px;
  padding-right: 16px; }

.pad-top-sm {
  padding-top: 16px; }

.pad-bottom-sm {
  padding-bottom: 16px; }

.pad-vertical-sm {
  padding-top: 16px;
  padding-bottom: 16px; }

.block {
  display: block; }

.left {
  float: left;
  left: 0; }

.right {
  float: right;
  right: 0; }

.center {
  text-align: center;
  margin: 0 auto; }

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }

.align-bottom {
  align-items: flex-end; }

.align-middle {
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.back {
  z-index: -1; }

.front {
  z-index: 1; }

.hover-shadow, a {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.box-shadow {
  -webkit-box-shadow: 0px 30px 90px 0px rgba(33, 35, 52, 0.3);
  -moz-box-shadow: 0px 30px 90px 0px rgba(33, 35, 52, 0.3);
  box-shadow: 0px 30px 90px 0px rgba(33, 35, 52, 0.3); }

.svg-shadow {
  filter: drop-shadow(0px 30px 60px rgba(33, 35, 52, 0.2)); }

.hover-shadow {
  cursor: pointer;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial; }
  .hover-shadow:hover {
    -webkit-box-shadow: 0px 0px 90px 0px rgba(33, 35, 52, 0.3);
    -moz-box-shadow: 0px 0px 90px 0px rgba(33, 35, 52, 0.3);
    box-shadow: 0px 0px 90px 0px rgba(33, 35, 52, 0.3); }

.tag {
  width: auto;
  height: 45px;
  line-height: 45px;
  padding-left: 16px;
  padding-right: 16px; }

#bg-mintangle {
  background-image: url("/images/mintangle-bg.png");
  position: absolute;
  right: 0;
  width: 75%;
  height: 75%;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1; }

#bg-building {
  background-image: url("/images/building-bg.png");
  background-size: cover;
  background-attachment: fixed; }

#bg-building2 {
  background-image: url("/images/building2-bg.png");
  background-size: cover;
  background-attachment: fixed; }

a {
  text-decoration: underline;
  cursor: pointer; }
  a:hover {
    opacity: 0.6; }

a.t-mint:hover {
  color: #00FFDA;
  opacity: 0.6; }

a.t-purple:hover {
  color: #D903FF;
  opacity: 0.6; }
