.browser-height {
  height: 100%; }

.container {
  width: 75%;
  float: right;
  height: 100%; }

.container-inside {
  width: 75%;
  float: right;
  height: auto; }

.container-height {
  height: 70%; }

.container-height-md {
  height: 50% !important; }

.fill-height {
  height: -webkit-fill-available; }

.fit-height {
  height: fit-content; }

.negative-height {
  margin-top: -45px; }

.row {
  max-width: 100%;
  display: flex; }

.space-left {
  margin-left: 15%; }

.space-right {
  margin-right: 15%; }

.space-horizontal {
  margin-left: 15%;
  margin-right: 15%; }

.space-top {
  margin-top: 15%; }

.space-bottom {
  margin-bottom: 15%; }

.space-vertical {
  margin-top: 15%;
  margin-bottom: 15%; }

.space-left-md {
  margin-left: 45px; }

.space-right-md {
  margin-right: 45px; }

.space-horizontal-md {
  margin-left: 45px;
  margin-right: 45px; }

.space-top-md {
  margin-top: 45px; }

.space-bottom-md {
  margin-bottom: 45px; }

.space-vertical-md {
  margin-top: 45px;
  margin-bottom: 45px; }

.space-left-sm {
  margin-left: 16px; }

.space-right-sm {
  margin-right: 16px; }

.space-horizontal-sm {
  margin-left: 16px;
  margin-right: 16px; }

.space-top-sm {
  margin-top: 16px; }

.space-bottom-sm {
  margin-bottom: 16px; }

.space-vertical-sm {
  margin-top: 16px;
  margin-bottom: 16px; }

.pad-left {
  padding-left: 15%; }

.pad-right {
  padding-right: 15%; }

.pad-horizontal {
  padding-left: 15%;
  padding-right: 15%; }

.pad-top {
  padding-top: 15%; }

.pad-bottom {
  padding-bottom: 15%; }

.pad-vertical {
  padding-top: 15%;
  padding-bottom: 15%; }

.pad-left-md {
  padding-left: 45px; }

.pad-right-md {
  padding-right: 45px; }

.pad-horizontal-md {
  padding-left: 45px;
  padding-right: 45px; }

.pad-top-md {
  padding-top: 45px; }

.pad-bottom-md {
  padding-bottom: 45px; }

.pad-vertical-md {
  padding-top: 45px;
  padding-bottom: 45px; }

.pad-left-sm {
  padding-left: 16px; }

.pad-right-sm {
  padding-right: 16px; }

.pad-horizontal-sm {
  padding-left: 16px;
  padding-right: 16px; }

.pad-top-sm {
  padding-top: 16px; }

.pad-bottom-sm {
  padding-bottom: 16px; }

.pad-vertical-sm {
  padding-top: 16px;
  padding-bottom: 16px; }

.block {
  display: block; }

.left {
  float: left;
  left: 0; }

.right {
  float: right;
  right: 0; }

.center {
  text-align: center;
  margin: 0 auto; }

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }

.align-bottom {
  align-items: flex-end; }

.align-middle {
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.back {
  z-index: -1; }

.front {
  z-index: 1; }
