{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="b-blue container-inside pad-top-md pad-bottom">
  <a href="/" class="t-tan space-horizontal-md"><strong><img class="arrow" src="/images/logo/arrow.svg">Please, take me back home</strong></a>
  <div class="row relative pad-top-md align-middle ">
    <div class="space-horizontal-md inside-content-width">
      <!--title-->
      <h1 class="t-white space-bottom-sm">
        <strong>Blok :  A location based event discovery application</strong>
      </h1>
      <!--tag-->
      <div class="tag space-bottom-md"><small class="t-upper t-blue">deployed</small></div>
      <small class="t-upper t-tan">Problem Statement</small>
      <!--problem statement-->
      <p class="space-vertical-sm t-white">F5 was having difficulty engaging and reaching the global security audience.</p>
      <small class="t-upper t-tan">hypothesis and solution</small>
      <!--solution statement-->
      <p class="space-vertical-sm t-white">F5 was having difficulty engaging and reaching the global security audience.</p>
      <small class="t-upper t-tan">key responsibilities</small>
      <!--key responsibilities-->
      <p class="space-vertical-sm t-white">F5 was having difficulty engaging and reaching the global security audience.</p>
    </div>
    <div class="large-image box-shadow right" style="background-image:url('http://images.tritondigitalcms.com/6616/sites/115/2017/12/08073633/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818.jpeg')"></div>
  </div>
</div>

<!--images-->
<div class="b-grid-blue container-inside">
  <div class='space-horizontal-md'>
    <!--images row one-->
    <div class="row negative-height">
      <div class="large-4 medium-4 small-4 columns space-bottom-md">
        <img class="border box-shadow-blue " src="/images/devsec/test.png"></div>
      <div class="large-4 medium-4 small-4 columns negative-height space-bottom-md">
        <img class="border box-shadow-blue " src="/images/devsec/test.png"></div>
      <div class="large-4 medium-4 small-4 columns space-bottom-md">
        <img class="border box-shadow-blue " src="/images/devsec/test.png"></div>
    </div>
  </div>
  <div class="pad-vertical">
    <div class="row relative pad-top-md align-middle">
      <div class="space-horizontal-md inside-content-width">
        <h2 class="t-blue space-bottom-sm">
          <strong>Process and discovery</strong>
        </h2>
        <!--process and discovery-->
        <p class="space-vertical-sm">F5 was having difficulty engaging and reaching the global security audience.</p>
      </div>
      <div class="large-image box-shadow-blue right" style="background-image:url('http://images.tritondigitalcms.com/6616/sites/115/2017/12/08073633/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818.jpeg')"></div>
    </div>
  </div>
</div>

{{ end }}
