{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="b-blue container relative">
  <a href="/devsec/" class="t-tan"><strong>Check out what I'm currently working on <img class="arrow" src="/images/logo/arrow.svg"></strong></a>
  <div class="row space-vertical">
    <div class="space-horizontal-md inside-content-width">
      <h1 class="t-white space-bottom-sm">
        <strong>Blok :  A location based event discovery application</strong>
      </h1>
    </div>
    <div class="large-image box-shadow" style="background-image:url('http://images.tritondigitalcms.com/6616/sites/115/2017/12/08073633/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818.jpeg')"></div>
  </div>
</div>

{{ end }}
